<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArcticonsForBreezyWeather"
        tools:targetApi="31">
        <meta-data
            android:name="org.breezyweather.PROVIDER_CONFIG"
            android:resource="@xml/config" />
        <meta-data
            android:name="org.breezyweather.PROVIDER_CONFIG"
            android:resource="@xml/icon_provider_config" />
        <meta-data
            android:name="org.breezyweather.DRAWABLE_FILTER"
            android:resource="@xml/icon_provider_drawable_filter" />
        <meta-data
            android:name="org.breezyweather.ANIMATOR_FILTER"
            android:resource="@xml/icon_provider_animator_filter" />
        <meta-data
            android:name="org.breezyweather.SHORTCUT_FILTER"
            android:resource="@xml/icon_provider_shortcut_filter" />
        <meta-data
            android:name="org.breezyweather.SUN_MOON_FILTER"
            android:resource="@xml/icon_provider_sun_moon_filter" />        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ArcticonsForBreezyWeather">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.breezyweather.ICON_PROVIDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>